<div class="about">
  <div class="container">
    <div class="row m-5 p-3">
      <div class="col-md-6 offset-md-6">
        <h2>归去来兮</h2>
        <p>缺月挂疏桐，漏断人初静。谁见幽人独往来，缥缈孤鸿影。</p>
        <p>惊起却回头，有恨无人省。拣尽寒枝不肯栖，寂寞沙洲冷。</p>
      </div>
    </div>
  </div>
</div>
