<div class="about">
  <div class="container">
    <div class="row m-5 p-3">
      <div class="col-md-6 offset-md-4">
        <h2 class="text-muted mb-3">缺月挂疏桐，漏断人初静。</h2>
        <h2 class="text-muted mb-3">谁见幽人独往来，缥缈孤鸿影。</h2>
        <h2 class="text-muted mb-3">惊起却回头，有恨无人省。</h2>
        <h2 class="text-muted mb-3">拣尽寒枝不肯栖，寂寞沙洲冷。</h2>
      </div>
    </div>
  </div>
</div>
