<div class="about">
  <div class="container-fluid">
    <div class="row m-5 p-3 justify-content-center">
      <div class="col-md-8 offset-md-2 text-muted">
        <p>只是想要在更干净的页面看诗词而已。</p>
        <p>最初的数据来自 github 上一个 <%= link_to 'repos', 'https://github.com/yxcs/poems-db', target: :blank, class: 'text-muted' %>， 感谢作者的分享。</p>
      </div>
    </div>
  </div>
</div>
