<div class="container">
  <div class="d-flex content-"></div>
  <h1>归去来兮</h1>
  <p>归去来兮！田园将芜胡不归？既自以心为形役，奚惆怅而独悲？悟已往之不谏，知来者之可追；实迷途其未远，觉今是而昨非。</p>
  <p>舟摇摇以轻殇，风飘飘而吹衣。问征夫以前路，恨晨光之熹微。乃瞻衡宇，栽欣载奔。童仆欢迎，稚子候门。三径就荒，松菊尤存。携幼入室，有酒盈樽。引壶觞以自酌，眇庭柯以怡颜。倚南窗以寄傲，审容膝之易安。园日涉以成趣，门虽设而常关。策扶老以流憩，时翘首而遐观。云无心以出岫，鸟倦飞而知还。景翳翳以将入，抚孤松而盘桓。</p>
　<p>归去来兮，请息交以绝游。世与我而相遗，复驾言兮焉求？悦亲戚之情话，乐琴书以消忧。农人告余以春兮，将有事乎西畴。或命巾车，或棹孤舟。既窈窕以寻壑，亦崎岖而经丘。木欣欣以向荣，泉涓涓而始流。羡万物之得时，感吾生之行休。</p>
　<p>已矣乎！寓形宇内复几时？何不委心任去留？胡为惶惶欲何之？富贵非吾愿，帝乡不可期。怀良辰以孤往，或执杖而耘耔。登东坳以舒啸，临清流而赋诗。聊乘化以归尽，乐夫天命复奚疑？</p>
</div>
