<div class="about">
  <div class="container-fluid">
    <div class="row m-5 p-3">
      <div class="col-md-8 offset-md-2 text-muted">
        <p>孔子适周，问礼，老子曰：“子所言者，其人与骨皆已朽矣，独其言在耳。”</p>
        <p>这里皆是已逝之人的只言片语。</p>
        <p>最初的诗词数据来自 github 上一个 <%= link_to 'public repos: poems-db', 'https://github.com/yxcs/poems-db', class: 'text-muted' %>， 感谢作者的分享。</p>
        <p>目前看到的诗词中，已经过多次勘误，但错误和遗漏依然不少，如果你在预览时，可以动动手，提交你的完善建议，将不胜感激，当然，我也会持续更新。</p>
        <p>毕竟，所有值得去做的事情，都值得做很久很久。</p>
        <p>至于导航栏中单独列出的东坡和稼轩，纯属个人偏爱，你可以使用搜索栏找到你的那一份专属。</p>
        <p>一直觉得文字是有生命的。</p>
        <p>相信你也会从这些古文中收获些许欢喜和愉悦。: P</p>
      </div>
    </div>
  </div>
</div>
