<%= render 'shared/backend/list_nav', klass: TangPoem %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= render 'shared/backend/search_field', q: @q %>
      <%= render 'shared/backend/work_list', q: @q, works: @tang_poems %>

      <%= paginate @tang_poems %>
    </div>
  </div>
</div>
