<div class="card mb-3 p-4 border-0">
  <div class="row intro">
    <div class="col-md-3">
      <img src="<%= asset_pack_path 'media/images/su.jpg'%>" class="img-thumbnail">
    </div>
    <div class="col">
      <div class="card-body pt-1">
        <h4 class="category card-title mx-0 mt-0">生平</h4>
        <blockquote class="blockquote mb-0 text-muted">
          <p>「1037年1月8日－1101年8月24日」，眉州眉山（今四川省眉山市）人，北宋时著名的文学家、政治家、艺术家、医学家。字子瞻，一字和仲，号东坡居士、铁冠道人[1]。嘉佑二年进士，累官至端明殿学士兼翰林学士，礼部尚书。南宋理学方炽时，加赐谥号文忠，复追赠太师。有《东坡先生大全集》及《东坡乐府》词集传世，宋人王宗稷收其作品，编有《苏文忠公全集》。</p>
        </blockquote>
        <hr>
        <h4 class="category card-title mx-0 mt-0">评价</h4>
        <div class="d-flex mb-2">
          <blockquote class="flex-grow-1 blockquote mb-0">
            <p class="mb-2">词至东坡，倾荡磊落，如诗，如文，如天地奇观。</p>
            <footer class="blockquote-footer float-right">刘辰翁 <cite title="Source Title">《辛稼轩词序》</cite></footer>
          </blockquote>
        </div>

        <div class="d-flex mb-2">
          <blockquote class="flex-grow-1 blockquote mb-0">
            <p class="mb-2">东坡独崇气格，箴规柳、秦，词体之尊，自东坡始。</p>
            <footer class="blockquote-footer float-right">陈洵 <cite title="Source Title">《海绡说词》</cite></footer>
          </blockquote>
        </div>

        <div class="d-flex mb-2">
          <blockquote class="flex-grow-1 blockquote mb-0">
            <p class="mb-2">世言东坡不能歌，故所作东府词多不协。晁以道谓：绍圣初，与东坡别于汴上，东坡酒酣，自歌〈古阳关〉。则公非不能歌，但豪放不喜剪裁以就声律耳。试取东坡诸词歌之，曲终，觉天风海雨逼人。</p>
            <footer class="blockquote-footer float-right">陆游 <cite title="Source Title">《老学庵笔记》</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
