<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to h(SongPoem), [ :backend, :song_poems ] %>
    </li>
    <li class="breadcrumb-item active">
      <%= link_to @song_poem.title, [ :backend, @song_poem ] %>
    </li>
  </ol>
</nav>

<hr>
<%= render 'shared/poem_form', poem: @song_poem %>
