<% suggestions.each do |suggestion| %>
  <div class="card mb-3">
    <div class="card-header">
      <% url = current_user.is_a?(Admin) ? [ :backend, suggestion.work ] : work_url(suggestion.work) %>
      <%= link_to suggestion.work.title, url, target: :blank %>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= suggestion.comments %>.</p>
        <footer class="blockquote-footer float-right"><%=l suggestion.created_at, format: :long%></footer>
      </blockquote>
    </div>
  </div>
<% end %>
