<div class="card mb-3 p-4 border-0">
  <div class="row intro">
    <div class="col-md-3">
      <img src="<%= asset_pack_path 'media/images/yizhu.jpg'%>" class="img-thumbnail">
    </div>
    <div class="col">
      <div class="card-body pt-1">
        <h4 class="category card-title mx-0 mt-0">沧海遗珠</h4>
        <div class="d-flex mb-2">
          <blockquote class="flex-grow-1 blockquote mb-0">
            <p class="mb-2">湖面，如线，月华生。</p>
            <footer class="blockquote-footer float-right">张景祁 <cite title="Source Title">《河传》</cite></footer>
          </blockquote>
        </div>

        <div class="d-flex mb-2">
          <blockquote class="flex-grow-1 blockquote mb-0">
            <p class="mb-2">牵船可住，甚吟身不系，还滞归棹。</p>
            <footer class="blockquote-footer float-right">张祥河 <cite title="Source Title">《湘月》</cite></footer>
          </blockquote>
        </div>

        <div class="d-flex mb-2">
          <blockquote class="flex-grow-1 blockquote mb-0">
            <p class="mb-2">为寻疏影暗香处，独立嫩寒清晓时。</p>
            <footer class="blockquote-footer float-right">刘迎 <cite title="Source Title">《梅》</cite></footer>
          </blockquote>
        </div>

        <div class="d-flex mb-2">
          <blockquote class="flex-grow-1 blockquote mb-0">
            <p class="mb-2">村坞云遮，有苍藤老干，翠竹明沙。溪堂连石稳，苔径逐篱斜。文木几，小窗纱。是好事人家。</p>
            <footer class="blockquote-footer float-right">吴伟业 <cite title="Source Title">《意难忘·山家》</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
