<div class="d-flex justify-content-between align-items-baseline">
  <%= link_to '返回列表', [ :backend, work.class.name.underscore.pluralize ] %>
  <div class="mr-3">
    <%= link_to '编辑', [ :edit, :backend, work ] if can? :update, work %>
  </div>
</div>
<hr>
