<div class="d-flex justify-content-between align-items-baseline">
  <h2><%=I18n.t 'pages.show', model: h(work), scope: :views %></h2>
  <div class="mr-3">
    <%= link_to '编辑', [ :edit, :backend, work ] if can? :update, work %>
  </div>
</div>
<hr>
