<% essays = works.where(category: :essay) %>
<% poems = works.where(category: [ :poetry, :song ]) %>
<% yuefus = works.where(category: :yuefu) %>
<% cis = works.where(category: :ci) %>

<% if essays.present? %>
  <h2 class="category">文集</h2>
  <%= render "shared/category/essay", poems: essays %>
<% end %>

<% if poems.present? %>
  <h2 class="category">诗歌</h2>
  <%= render "shared/category/poetry", poems: poems %>
<% end %>

<% if yuefus.present? %>
  <h2 class="category">乐府</h2>
  <%= render "shared/category/poetry", poems: yuefus %>
<% end %>

<% if cis.present? %>
  <h2 class="category">词集</h2>
  <%= render "shared/category/ci", poems: cis %>
<% end %>
