  <div class="jumbotron jumbotron-fluid">
    <div class="container text-dark text-center">
      <h1 class="display-4">东坡之词旷，稼轩之词豪</h1>
    </div>
  </div>

<h2 class="category">宋词</h2>
<div class="container">
  <div class="row">
    <% @works.each do |work| %>
      <div class="col-4 poem">
        <div class="card card-body">
          <h5 class="card-title text-success"><%= work.title %></h5>
          <small class="card-subtitle mb-2 text-muted"><%= work.dynasty %> - <%= work.author %></small>
          <p class="card-text">
            <%= work.content %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
