<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to h(Article), [ :backend, :articles ] %>
    </li>
    <li class="breadcrumb-item active">
      <%= link_to @article.title, [ :backend, @article ] %>
    </li>
  </ol>
</nav>

<hr>
<%= render 'shared/backend/poem_form', poem: @article %>
