<div class="card mb-3 p-4 border-0">
  <div class="row intro">
    <div class="col-md-3">
      <img src="<%= asset_pack_path 'media/images/han.jpg'%>" class="img-thumbnail">
    </div>
    <div class="col">
      <div class="card-body pt-1">
        <h4 class="category card-title mx-0 mt-0">大汉帝国</h4>
        <blockquote class="blockquote mb-0 text-muted">
          <p>「前202年－220年」，继秦朝之后的大一统王朝，主要分为西汉、东汉时期，享国四百零六年。</p>
        </blockquote>
        <br>
        <h4 class="category card-title mx-0 mt-0">汉赋拾遗</h4>
        <div class="d-flex mb-2">
          <blockquote class="flex-grow-1 blockquote mb-0">
            <p class="mb-2">超埃尘以遐逝，与世事乎长辞。</p>
            <footer class="blockquote-footer float-right">张衡 <cite title="Source Title">《归田赋》</cite></footer>
          </blockquote>
        </div>

        <div class="d-flex mb-2">
          <blockquote class="flex-grow-1 blockquote mb-0">
            <p class="mb-2">在山峨峨，在水汤汤，与志迁化，容不虚生。</p>
            <footer class="blockquote-footer float-right">傅毅 <cite title="Source Title">《舞赋》</cite></footer>
          </blockquote>
        </div>

        <div class="d-flex mb-2">
          <blockquote class="flex-grow-1 blockquote mb-0">
            <p class="mb-2">有一美人兮，见之不忘。 一日不见兮，思之如狂。</p>
            <footer class="blockquote-footer float-right">司马相如 <cite title="Source Title">《凤求凰》</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
