<footer class="d-flex justify-content-center">
  <p class="text-muted">© <%= Date.current.year %> 归去来兮 <a class="text-secondary" href="http://beian.miit.gov.cn" target="_blank">沪ICP备20017420号</a></p>
</footer>
