<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">归</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">东坡</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">稼轩</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">关于</a>
      </li>
      <li class="nav-item">
        <%= link_to '后台', [ :backend, Admin ], class: "nav-link" %>
      </li>
    </ul>
    <% if local_assigns[:need_search] %>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="山色空濛雨亦奇" class="text-muted" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
      </form>
    <% end %>

    <% if local_assigns[:profile] %>
      <% if current_admin %>
        <div class="dropdown pr-3">
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            Hi, <%= current_admin.email %>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to "个人中心", [ :profile, :basic ], class: "dropdown-item" %>
            <%= link_to "退出", admins_sign_out_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</nav>
