<div class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <%= link_to "#{h Admin}", [ :backend, Admin ], class: 'nav-link active' %></li>
    </li>
    <li class="nav-item">
      <%= link_to "#{h TangPoem}", [ :backend, TangPoem ], class: 'nav-link' %></li>
    </li>
    <li class="nav-item">
      <%= link_to "#{h SongPoem}", [ :backend, SongPoem ], class: 'nav-link' %></li>
    </li>
    <li class="nav-item">
      <%= link_to "#{h Article}", [ :backend, Article ], class: 'nav-link' %></li>
    </li>
  </ul>
</div>