@import '../bootstrap/index.scss';
@import '../scss/welcome.scss';
@import '../scss/backend.scss';
@import '../scss/navbar.scss';
@import '../scss/fontawesome.scss';

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
