<div class="row">
  <div class="col-lg-8 offset-md-2">
    <%= simple_form_for [ :backend, admin ] do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>

    <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
