<div class="card mb-3 p-4 border-0">
  <div class="row intro">
    <div class="col-md-3">
      <img src="<%= asset_pack_path 'media/images/song.jpeg'%>" class="img-thumbnail">
    </div>
    <div class="col">
      <div class="card-body pt-1">
        <h4 class="category card-title mx-0 mt-0">大宋</h4>
        <blockquote class="blockquote mb-0 text-muted">
          <p>「960年－1279年」，享国三百一十九年。陈寅恪言：华夏民族之文化，历数千载之演进，造极于赵宋之世。</p>
        </blockquote>
        <br>
        <h4 class="category card-title mx-0 mt-0">词藻</h4>
        <div class="d-flex mb-2">
          <blockquote class="flex-grow-1 blockquote mb-0">
            <p class="mb-2">人生如逆旅，我亦是行人。</p>
            <footer class="blockquote-footer float-right">苏轼 <cite title="Source Title">《临江仙·送钱穆父》</cite></footer>
          </blockquote>
        </div>

        <div class="d-flex mb-2">
          <blockquote class="flex-grow-1 blockquote mb-0">
            <p class="mb-2">众里寻他千百度，蓦然回首，那人却在，灯火阑珊处。</p>
            <footer class="blockquote-footer float-right">辛弃疾 <cite title="Source Title">《青玉案·元夕》</cite></footer>
          </blockquote>
        </div>

        <div class="d-flex mb-2">
          <blockquote class="flex-grow-1 blockquote mb-0">
            <p class="mb-2">梧桐更兼细雨，到黄昏、点点滴滴。</p>
            <footer class="blockquote-footer float-right">李清照 <cite title="Source Title">《声声慢·寻寻觅觅》</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
